html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
html{
	font-size: 10px;
}
body {
    line-height:1;
    font-family: 'Microsoft YaHei'
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul,li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
p{
	color:#252525;
	letter-spacing: 1px;
	line-height: 1.8;
}
.header{
	background: rgba(0,0,0,0.4);
	border:0;
}
.welcome{
	padding:20px 0 7px 0;
	font-size: 20px;
}
.welcome a{
	text-decoration:none;
	color:#fff;
}
.welcome a:hover{
	color:#fff;
}
.header .container{
	position: relative;
}
.header .navbar-brand{
	font-size: 14px;
	color:#fff;
}
.navbar-toggle{
	border:0;
	color: #fff;
}
.well .navbar-toggle {
	color: #050505;
}
.navbar-toggle .iconfont:before{
	content: '\e60c';
}
.navbar-toggle.collapsed .iconfont:before{
	content: '\e611';
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: transparent;
}
.header .navbar-link{
	color:#fff;
}
.header .navbar-link:hover,.header .navbar-link:active{
	text-decoration:none;
}
.header .navbar-brand.active,.header .navbar-brand:hover{
	color:#008DCC;
}
#navbar .navbar-nav>.active>a, #navbar .navbar-nav>.active>a:focus{
	color:#008DCC;
	background-color:transparent;
}
 #navbar .navbar-nav>li>a:hover{
 	color: #008DCC;
 }
#navbar .navbar-nav>li>a{
	font-size: 14px;
	color: #fff;
}
.navbar-right-icon{
	position: absolute;
	right: 0;
	bottom: 0;
}

.navbar-right-icon .navbar-text{
	font-size: 14px;
	letter-spacing: 0px;
}
.navbar-right-icon .navbar-text > img{
	display: block;
	margin-bottom: 15px;
}
#myCarousel .carousel-inner > .item {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
#myCarousel .carousel-inner > .item > img{
	visibility: hidden;
}
.carousel-nav-control{
	width: 35px;
	height: 120px;
	/*background-color: #008DCC;*/
	display: block;
	line-height: 120px;
	font-size: 45px;
	position: absolute;
	top:50%;
	margin-top: -60px;
	color: #fff;
	opacity: 1;
	text-align: center;
	text-decoration: none;
}
.carousel-nav-control img{
	width:100%;
}
.carousel-nav-control:link, .carousel-nav-control:visited, .carousel-nav-control:hover,.carousel-nav-control:active{
	text-decoration: none;
	color: #fff;
}
#myCarousel .carousel-indicators{
	width: 70%;
	margin-left: -35%;
	text-align: right;
}
#myCarousel .carousel-indicators li{
	border-radius: 0;
	border:1px solid #008DCC;
	width:8px;
	height: 8px;
}
#myCarousel .carousel-indicators .active{
	background-color: #008DCC;
	width:10px;
	height: 10px;
}
.carousel-nav-control.left{
	left: 20px;
}
.carousel-nav-control.right{
	right: 20px;
}
.item-desc{
	padding:20px 15px;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	width: 302px;
	left: 7%;
	bottom:10%;
}
.item-desc .item-title{
	font-size: 16px;
	color: #050505;
}
.item-desc .item-content{
	padding: 15px 0;
	font-size: 14px;
	color: #050505;
	letter-spacing: 0px;
	line-height: 1.5;
}
.item-desc .item-kown-more{
	color: #008DCC;
	font-size: 14px;
}
.banners img{
	width:100%;
	display: block;
	height: 234px;
}
.banners .item{
	display: block;
	color: #000;
	text-decoration: none;
	padding-top: 15px;
}
.banners .item:hover{
	background-color: #f1f1f1;
}
.banners .item:hover,.banners .item:active,.banners .item:link{
	text-decoration: none;
}
.banners .title{
	font-size: 20px;
	color: #000;
	padding: 17px 0 16px 0;
	position: relative;
	/*border-bottom: 1px solid #808080;*/
}
.banners .title:after{
	width: 200%;
	content: '';
	display: block;
	height: 1px;
	background-color: #808080;
	position: absolute;
	bottom: 0;
	transform: scale(0.5);
	transform-origin: 0 0 ;
}
.banners .desc{
	font-size: 14px;
	margin:23px 0;
	height: 172px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}
.jumbotron{
	background: #fff;
	margin-bottom: 0;
}
.footer{
	background-color: #6f6f6f;
	padding-top:41px;
}
.footer .footer_icon img{
	width: 140px;
	height: auto;
}
.footer p{
	color: #fff;
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 1.2;
	letter-spacing: 0;
}
.footer .container{
	/*background-image: url('../images/footer.png');*/ 
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
.footer .qrcode{
	overflow: hidden;
}
.footer .qrcode .weixincode, .footer .qrcode .weibocode{
	float: right;
}
.footer .qrcode .weibocode{
	margin-left: 10px;
}
.footer .qrcode .weixincode img, .footer .qrcode .weibocode img{
	width: 80px;
	height: auto;
}
.footer .qrcode .weixincode>p,.footer .qrcode .weibocode>p{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 0; 
}
.footer .copyright{
	padding: 19px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.back_img {
	position: fixed;
	top:0;
    width: 100%;
    z-index:0;
}
.back_img >img{
	width: 100%;
}
.main_wrap{
	background-size: contain;
	background-repeat: no-repeat; 
	background-color: #f9f9f9;
}
.main-content{
	padding-top: 240px;
	min-height: 620px;
}
.main-content .well{
    background: #fff;
	padding:30px;
	border:0;
	box-shadow: none;
}
.main-content .navbar-inverse{
	background: #fff;
	border:0;
	border-bottom: 1px solid #909090;
	border-radius: 0;
}
.main-content .navbar-inverse .navbar-toggle{
	background-color: transparent;
}
.main-content .navbar-brand{
	font-size: 20px;
	color: #000;
	padding-left: 0;
	padding-right: 50px;
}
.main-content .navbar-brand:hover{
	color: #000;
}
.main-content .navbar-inverse .navbar-nav>li:last-child>a{
	padding-right: 0;
}
.main-content .navbar-inverse .navbar-nav>li>a{
	color: #000;
	font-size: 14px;
	padding-left: 0;
	padding-bottom: 12px;
	padding-top: 18px;
}
.main-content .navbar-inverse .navbar-nav>li>a:hover{
    color:#008DCC;
}
.main-content .navbar-inverse .navbar-nav>.active>a, 
.main-content .navbar-inverse .navbar-nav>.active>a:focus,
.main-content .navbar-inverse .navbar-nav>.active>a:hover{
    color:#008DCC;
	background-color:transparent;
}
.main-content .navbar-inverse .navbar-collapse{
	border-color: #909090
}
.main-content .navbar-inverse .navbar-toggle .icon-bar{
	background-color:#000;
}
.main_content_desc{
	font-size: 14px;
}
.main-content .well.activities .media{
	border-bottom:1px solid #ddd;
	padding-bottom: 10px;
}
.main-content .well.activities .media .media-object{
	height: 313px;
}
.main-content .well.activities .media .media-body p{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}
.main-content .well .media {
	padding: 0 32px;
	text-align: center;
}
.main-content .well .media .media-object.media_news{
	width: 350px;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
.main-content .well .media .media-object{
   max-width:500px;
   display: inline-block;
   margin:10px 0;
   float: left;
}
.main-content .well .media .media-object + .media-object{
   margin-left: 15px;
}
.main-content .well .media .pull-right .media-object{
	margin-left: 10px;
}
.main-content .well .media .pull-left .media-object{
	margin-right: 10px;
}
.main-content .well .media .media-body{
   height:100%;
   font-size: 14px;
   text-align: left;
}
.main-content .well .media .media-body > h6{
   line-height: 1.8;
   font-size: 16px;
   font-weight: bold;
}
.main-content .well .media .media-body .media-heading{
   font-size: 16px;
   font-weight: bold;
   margin: 0;
   padding-bottom: 8px;
}
.main-content .well .media .media-img{
	display: inline-block;
	overflow: hidden;
	text-align: center;
}


.main-content .thumbnail {
	border:0;
}
.main-content a.thumbnail:hover{
	background-color: #f1f1f1;
}
.main-content .thumbnail>img{
 	margin: 0;
}
 .main-content .case_list .thumbnail>img{
 	height: 250px;
 	width: 100%;
}
.main-content .thumbnail .caption{
	padding:9px 0;
}
.main-content .thumbnail h3{
	font-size:18px;
	padding: 8px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.main-content .thumbnail .caption p{
	font-size:14px;
	line-height: 1.5;
	height: 126px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}
.main-content .thumbnail .caption .kownmore{
	padding:8px 0;
	height: auto;
}
.main-content .media-body .kownmore i{
	font-size: 12px;
}
.contact_us > li{
   font-size: 14px;
   line-height: 1.5;
   overflow: hidden;
}
.contact_us{
	position: relative;
}
.contact_us > li.address >span:first-child{
	position: absolute;
	left: 0;
}
.contact_us > li.address >span:last-child{
	padding-left:48px;
	display: inline-block;
}
.contact_us .map{
	padding:15px 0;
}

#tabs li >a{
	color: #000;
	font-size: 14px;
}
#tabs li.active >a{
	color: #008DCC;
}
#tabs li>a:focus, #tabs li>a:hover{
	background-color: transparent;
	color: #008DCC;
}
#tabContent{
	border-left: 1px solid #909090;
	font-size: 18px;
	line-height: 1.5;
	padding-left: 30px;
	font-size: 14px;
}
#tabContent [data-toggle]{
	padding:10px 0;
}
#tabContent [data-toggle] > .glyphicon:before{
   content: "\e113"
}
#tabContent [data-toggle].collapsed >.glyphicon:before{
   content: "\e114"
}
#tabContent .glyphicon{
	font-size: 12px;
}
.main-content .summary{
	font-size: 14px;
}
.text-indent{
	text-indent:32px;
}
.text-bold{
	font-weight:bold;
}
.text-center{
	text-align: center;
}
.ac_pagination{
	text-align: right;
}
.team_media_desc{
	font-size: 14px;
	text-align: center;
	line-height: 1.5;
	padding: 10px 0 0;
}
.back_btn{
	margin-top:15px;
}
.btn-back{
	background-color: rgb(221,221,221);
	color:#333;
}
.cto_name{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	letter-spacing: 0px;
}
.main-content .honor_list .thumbnail>img{
	border: 1px solid #808080;
}
.sub-title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}
@media (max-width: 1218px){
	.carousel-nav-control{
		width:30px;
		height: 108px;
		font-size: 40px;
		margin-top: -54px;
		line-height:92px;
	}
}
@media (max-width: 992px){
	.welcome{
		padding:15px 0 7px;
		font-size: 16px;
	}
	.item-desc{
		padding:15px;
		width:270px;
		margin-left:20px;
	}
	.item-desc .item-title{
		font-size: 16px;
	}
	.item-desc .item-content{
		padding: 15px 0;
		font-size: 12px;
	}
	.item-desc .item-kown-more{
		font-size:12px;
	}
	.banners img{
		height: auto;
	}
	.banners .title{
		padding:13px 0 12px 0;
	}
	.banners .desc{
		padding: 16px 0;
	}
	.jumbotron{
		margin-bottom: 0;
	}
	#tabs{
		border-bottom: 1px solid #909090;
	}
	#tabContent{
		border-left:0;
		padding:10px 15px;
	}
	.footer{
		padding-top:10px;
	}
	.footer .copyright{
		padding: 10px 0;
		text-align: left;
	}

	.carousel-nav-control{
		width:25px;
		height: 84px;
		font-size: 25px;
		margin-top: -30px;
		line-height:84px;
	}
	.main-content .thumbnail .caption p{
		height: auto;
	}
	.main-content .case_list .thumbnail>img{
		height: auto;
	}

	.main-content .well.activities .media .media-object{
		width: 250px;
		height: 200px;
	}
	.main-content .well.activities .media .media-body p{
		-webkit-line-clamp: 5;
	}
}

@media (max-width: 768px){
	.header{
		margin-bottom: 0;
	}
	.navbar-right-icon {
		display: none;
	}
	.welcome{
		display: none;
	}
	.carousel-nav-control{
		width:20px;
		height: 72px;
		font-size: 30px;
		margin-top: -36px;
		line-height:65px;
	}
	#myCarousel .carousel-inner > .item {
		height: 300px;
		background-size: cover;
	}
	.main-content{
		padding-top: 70px;
	}
	.main-content .well .media .media-img{
	   width:auto;
	   padding-right: 0;
	   padding-left: 0;
	}
	.main-content .well .media .media-body .media-heading{
		padding-top: 8px;
	}
	.main-content .well .media .media-object{
	   width:100%;
	   float: none;
	   margin-right: 0;
	   max-width: auto;
	}
	.main-content .well .media .media-object + .media-object{
	   margin-left: 0;
	   margin-top: 10px;
	}
	.main-content .well .media .media-body{
	   padding:0 10px;
	}
	.main-content .well.activities .media .media-img{
		width: 100%;
	}
	.main-content .well.activities .media .media-object{
		width: 100%;
		height: auto;
	}
	.main-content .well.activities .media .media-body p{
		display: block;
	}
	.footer .qrcode .weixincode, .footer .qrcode .weibocode{
		float: left;
	}
}
@media (max-width: 540px){
  .footer .container .row{
	width:auto;
  }
  	.item-desc{
		margin-left: -135px;
		margin-bottom:-75px;
		left:50%;
		bottom:50%;
	}
}
@media (max-width: 478px){
	.carousel-nav-control{
		display: none;
	}

	#myCarousel .carousel-inner > .item {
		height: 460px;
		background-size: cover;
	}
	.main_wrap {
		height: 230px;
		background-size: cover;
	}
	.footer .footer_icon img{
		width: 120px;
	}
}

@media (max-width: 320px){
	#myCarousel .carousel-inner > .item {
		height: 420px;
	}
}

