html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html{
	font-size: 10px;
}
body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul,li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
	background: rgba(0,0,0,0.6);
	border:0;
}
.welcome{
	padding:20px 0 7px 0;
	font-size: 20px;
}
.header .container{
	position: relative;
}
.navbar-brand{
	font-size: 14px;
}
#navbar .navbar-nav>.active>a, #navbar .navbar-nav>.active>a:focus{
	color:#008DCC;
	background-color:transparent;
}
 #navbar .navbar-nav>li>a:hover{
 	color: #008DCC;
 }
#navbar .navbar-nav>li>a{
	font-size: 14px;
}
.navbar-right-icon{
	position: absolute;
	right: 0;
	bottom: 0;
}

.navbar-right-icon .navbar-text{
	font-size: 14px;
}
.carousel-nav-control{
	width: 40px;
	height: 144px;
	background-color: #008DCC;
	display: block;
	line-height: 130px;
	font-size: 60px;
	position: absolute;
	top:50%;
	margin-top: -72px;
	color: #fff;
	opacity: 1;
	text-align: center;
	text-decoration: none;
}
.carousel-nav-control:link, .carousel-nav-control:visited, .carousel-nav-control:hover,.carousel-nav-control:active{
	text-decoration: none;
	color: #fff;
}

.carousel-nav-control.left{
	left: 15%;
}
.carousel-nav-control.right{
	right: 15%
}
.item-desc{
	padding:40px 30px;
	background-color: #fff;
	opacity: 0.8;
	position: absolute;
	width: 398px;
	right: 15%;
	margin-right: 116px;
	top:50%;
	margin-top:-143px;
}
.item-desc .item-title{
	font-size: 21px;
	color: #050505;
}
.item-desc .item-content{
	padding: 36px 0;
	font-size: 18px;
	color: #050505;
}
.item-desc .item-kown-more{
	color: #000;
	font-size: 22px;
}
.banners img{
	width:100%;
	display: block;
	height: 234px;
}
.banners .title{
	font-size: 24px;
	color: #011D45;
	padding: 17px 0 16px 73px;
	position: relative;
	border-bottom: 2px solid #000;
}
.banners .desc{
	font-size: 14px;
	padding:23px 0;
	line-height: 1.5;
}
.jumbotron{
	background: #fff;
}
.footer{
	background-color: #000;
	opacity: 0.8;
	padding-top:41px;
}
.footer p{
	color: #fff;
	font-size: 14px;
	padding-bottom: 10px;
}
.footer .qrcode .weixincode{
	padding-right: 34px;
}
.footer .qrcode .weixincode, .footer .qrcode .weibocode{
	float: right;
}
.footer .qrcode .weixincode>p,.footer .qrcode .weibocode>p{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 0; 
}
.footer .copyright{
	padding: 8px 0 19px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.back_img {
	position: fixed;
	top:0;
    width: 100%;
    z-index:0;
}
.back_img >img{
	width: 100%;
}
.main_wrap{
	background-size: contain;
	background-repeat: no-repeat; 
}
.main-content{
	margin-top: 150px;
}
.main-content .well{
    background: #fff;
	padding:30px;
}
.main-content .navbar-inverse{
	background: #fff;
	border:0;
	border-bottom: 1px solid #909090;
	border-radius: 0;
}
.main-content .navbar-inverse .navbar-toggle{
	background-color: transparent;
}
.main-content .navbar-brand{
	font-size: 21px;
	color: #000;
}
.main-content .navbar-brand:hover{
	color: #000;
}
.main-content .navbar-inverse .navbar-nav>li>a{
	color: #000;
	font-size: 18px;
}
.main-content .navbar-inverse .navbar-nav>li>a:hover{
    color:#008DCC;
}
.main-content .navbar-inverse .navbar-nav>.active>a, 
.main-content .navbar-inverse .navbar-nav>.active>a:focus,
.main-content .navbar-inverse .navbar-nav>.active>a:hover{
    color:#008DCC;
	background-color:transparent;
}
.main-content .navbar-inverse .navbar-collapse{
	border-color: #909090
}
.main-content .navbar-inverse .navbar-toggle .icon-bar{
	background-color:#000;
}
.main_content_desc{
	color: #050505;
	font-size: 18px;
}
.main-content .well .media .media-img{
   width:50%;
}
.main-content .well .media .media-object{
   width:100%;
}
.main-content .well .media .media-body{
   height:100%;
   font-size: 18px;
}
.main-content .well .media .media-body .media-heading{
   font-size: 24px;
}
.contact_us > li{
   font-size: 18px;
   line-height: 1.5;
   overflow: hidden;
}
.contact_us{
	position: relative;
}
.contact_us > li.address >span:first-child{
	position: absolute;
	left: 0;
}
.contact_us > li.address >span:last-child{
	padding-left:60px;
	display: inline-block;
}
.contact_us .map{
	padding:15px 0;
}
#tabs{
	font-size:18px; 
}
#tabs li >a{
	color: #000;
}
#tabs li.active >a{
	color: #008DCC;
}
#tabs li>a:focus, #tabs li>a:hover{
	background-color: transparent;
	color: #008DCC;
}
#tabContent{
	border-left: 1px solid #909090;
	font-size: 18px;
	line-height: 1.5;
	padding-left: 30px;
}
#tabContent .glyphicon{
	font-size: 12px;
}
@media (max-width: 1340px){
	.item-desc{
		padding:20px 15px;
		margin-top: -115px;
	}
	.item-desc .item-title{
		font-size: 20px;
	}
	.item-desc .item-content{
		padding: 20px 0;
		font-size: 18px;
	}
	.item-desc .item-kown-more{
		font-size:18px;
	}
}
@media (max-width: 1218px){
	.carousel-nav-control{
		width:30px;
		height: 108px;
		font-size: 40px;
		margin-top: -54px;
		line-height:92px;
	}
	.item-desc{
		margin-top:-90px;
		width: 340px;
		margin-right: 86px;
	}
	.item-desc .item-title{
		font-size: 18px;
	}
	.item-desc .item-content, .item-desc .item-kown-more{
		font-size: 16px;
	}
}
@media (max-width: 992px){
	.welcome{
		padding:15px 0 7px;
		font-size: 16px;
	}
	.navbar-right-icon .navbar-link{
		display: none;
	}
	.item-desc{
		padding:20px 15px;
		margin-top: -80px;
		margin-right: 50px;
		width:270px;
	}
	.item-desc .item-title{
		font-size: 16px;
	}
	.item-desc .item-content{
		padding: 15px 0;
		font-size: 12px;
	}
	.item-desc .item-kown-more{
		font-size:12px;
	}
	.banners img{
		height: auto;
	}
	.banners .title{
		padding:13px 0 12px 60px;
		font-size: 20px;
	}
	.banners .desc{
		padding: 16px 0;
	}
	.jumbotron{
		margin-bottom: 0;
	}
	.footer{
		padding-top:10px;
	}
	.footer .qrcode .weixincode, .footer .qrcode .weibocode{
		float: left;
		padding-right: 20px;
	}
	.footer .copyright{
		padding: 10px 0;
	}
}
@media (max-width: 922px){
	.welcome{
		padding:10px 0 7px;
		font-size: 14px;
	}
	.item-desc{
		padding:15px 10px;
		margin-top: -68px;
		margin-right: 50px;
		width:257px;
	}
	.item-desc .item-title{
		font-size: 14px;
	}
	.item-desc .item-content{
		padding: 10px 0;
		font-size: 10px;
	}
	.item-desc .item-kown-more{
		font-size:10px;
	}
	.carousel-nav-control{
		width:25px;
		height: 84px;
		font-size: 25px;
		margin-top: -30px;
		line-height:84px;
	}
}
@media (max-width: 832px){
	.item-desc{
		display: none;
	}
}
@media (max-width: 768px){
	.header{
		position: relative; !important;
		margin-bottom: 0;
	}
	.navbar-right-icon {
		display: none;
	}
	.welcome{
		display: none;
	}
	.carousel-nav-control{
		width:20px;
		height: 72px;
		font-size: 30px;
		margin-top: -36px;
		line-height:65px;
	}
	.main-content{
		margin-top: 70px;
	}
	.main-content .well .media .media-img{
	   width:auto;
	   padding-right: 0;
	   padding-left: 0;
	}
	.main-content .well .media .media-object{
	   width:100%;
	}
	.main-content .well .media .media-body{
	   padding:15px 10px;
	}
}
@media (max-width: 478px){
	.carousel-nav-control{
		display: none;
	}
}



